@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap");

/*....utilities....*/
:root {
  --back-color: white;
  --font-color: black;
  --style-color: rgb(54, 54, 252);
  --body-color: rgb(107, 106, 106);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  color: var(--font-color);
  text-decoration: none;
}
li {
  list-style: none;
}
/*.....Text-align ...*/
.tc{
    text-align: center;
}
.tl{
    text-align: left;
}
.tr{
    text-align: right;
}
/*.....Font-Weights ...*/
.f1{
    font-weight: 300;
}
.f2{
    font-weight: 500;
}

.f3{
    font-weight: 800;
}

/*.....Margins ...*/
.m-sx {
  margin: 0 1em;
}

.m-mx {
  margin: 0 1.5em;
}

.m-lx {
  margin: 0 2em;
}

.m-sy {
  margin: 1em 0;
}

.m-my {
  margin: 1.5em 0;
}

.m-ly {
  margin: 2em 0;
}

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
/*.....grids ...*/
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    height: 100%;
  }
  
.g1{
    grid-template-columns: 1fr;
    gap: 1em;
}

.g2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}
.g3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}
.g4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}
/*.....Paddings ...*/
.p-sx {
  padding: 0 1em;
}

.p-mx {
  padding: 0 1.5em;
}

.p-lx {
  padding: 0 2em;
}

.p-sy {
  padding: 1em 0;
}

.p-my {
  padding: 1.5em 0;
}

.p-ly {
  padding: 2em 0;
}

/*.....Fontsizes...*/
.fs {
  font-size: 1em;
}
.fm {
  font-size: 1.5em;
}
.fl {
  font-size: 2em;
}
body {
  background-color: var(--body-color);
  color: var(--font-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
}

.container {
  background-color: var(--font-color);
  font-size: 14px;
  min-height: 100vh;
  
}
.contain {
  min-width: 280px;
  max-width: 1400px;
  padding: 0 1.5em;
  margin: auto;
}


.heading {
  background-color: var(--style-color);
  
}
header {
  height: 6.2em;
  position:sticky;
  top: 0;
  z-index: 10;
 
}

#header-lists {
  justify-content: space-between;
  color: var(--back-color);
 
}
.logo {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0 0.5em;
  height: auto;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0, .2),
  -2px -2px 5px rgba(0,0,0, .2);
}
nav {
  display: block;
  position: absolute;
  right: 100%;
  background-color:var(--style-color);
  z-index: 11;
  top: 5em;
  width: 100%;
  height: 20em;
  transition: right .5s linear;
  

ul.flex{
      flex-direction: column;
      height: 100%;
      justify-content: space-evenly;

      a{
          color: var(--back-color);
          transition: 1s linear;
          padding: .3em .1em;
          
      }

      a:hover {
        border-bottom: var(--back-color) solid 2px;
        background-color: rgba(0, 0, 0, 0.1);
    }

    .active{
        border-bottom: var(--back-color) solid 2px;
    }
  }
  
}
.logo h3{
    margin-left: .5em;
}
.show{
    right: 0;
}

.toggle{
    z-index: 12;
    transition: .5s ease;
}

.custom-shape-divider-bottom-1615618722 svg {
  width: 100%;
  height: 18px;
}
.custom-shape-divider-bottom-1615618722 {
  position: absolute;
  top: 5em;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: 2;
}

.custom-shape-divider-bottom-1615618722 .shape-fill {
  fill: var(--back-color);
}
main{
    background-color:var(--back-color);
    height: 100%;
}
header input{
    width: 2em;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .5s ease;
}

header input:hover{
    transform: translateX(-2px);
    background-color:rgba(0, 0, 0, 0.1)
}
input[type=color]{
    background-color: var(--style-color);
    padding: 0;
    border: none;
}

#home{
    min-height: 80vh;
    display: flex;
    justify-content:center;
    align-items: center;
}
#home .flex{
    flex-direction: column;
}
.right-hero{
    background-color: var(--bodycolor);
    box-shadow: 2px 2px 5px rgba(0,0,0, .2),
               -2px -2px 5px rgba(0,0,0, .2);
    
     position: relative;
     width: 15em;
     height: 15em;
     border-radius: 50%;
     overflow: hidden;
    
     
 
     img{
         position: absolute;
         top: 0;
         left: 0;
         width: 15em;
         height: 15em;
         object-fit: center;
         background-color: transparent;
     }
 
 }
 .details span{
     color: var(--style-color);
 }

 .details h5{
     font-weight: 300;
 }

 .home-button button{
    text-align: center;
    white-space: nowrap;
    letter-spacing: .9px;
    font-size: .85em;
    height:40px;
    width: 140px;
    border-radius: 20px;
    outline: none;
    position: relative;
    font-weight: 800;
    border: var(--style-color) 2px solid;
    transition:  ease-out .5s;
    box-shadow: inset 0 0 0 0 var(--style-color);
    
 }

 .btn-two{
    box-shadow: inset 0 0 0 0 var(--back-color);
    background-color:var(--style-color);
    
    a{
        color: var(--back-color);
    }
 }

 .btn-two:hover{
    box-shadow: inset 150px 0 0 0 var(--back-color);
    
    a{
        color: var(--font-color)
    }
 }
 .btn-one:hover{
    // background-color: var(--style-color);
    box-shadow: inset 150px 0 0 0 var(--style-color);
    
    
    a{
        color: var(--back-color);
        
    }
 }


 #about{
    //  min-height: 90vh;
     display: flex;
     justify-content:center;

     .skills{
        grid-template-columns:repeat(3, 1fr);

    }  
    
    .skill{
        box-shadow: 2px 2px 5px rgba(0,0,0, .2),
               -2px -2px 5px rgba(0,0,0, .2);
        width: 7em;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2em;
        font-weight: 500;
    }

 }

 #portfolio{
    //  min-height: 90vh;
    margin: 10em auto;
     display: flex;
     justify-content:center; 

     .project{
         height: 25em;
         background-color: rgba(0,0,0, .1);
         width: 100%;
         padding: 1.5em;

        
     } 
     figure{
             width: 100%;
             height: 60%;
             margin:auto auto 1em;
             box-shadow: 2px 2px 5px rgba(0,0,0, .2),
               -2px -2px 5px rgba(0,0,0, .2);

             img{
                 height:100%;
                 width: 100%;
                 object-position: center;
                 object-fit: cover;
             }
    }

    .project h5{
        margin: 1em auto;
    }

    .project input{
        height: 2em;
        outline: none;
        width:6em;
        font-weight: 700;
        background-color: var(--style-color);
        color: var(--back-color);
        border-radius: 10px;
        transition: .5s linear;
        border: none;
        box-shadow:inset 0 0 0 0 var(--back-color);
    }

    .project input:hover{
        background-color: rgba(0,0,0, .1);
        color: var(--font-color);
        box-shadow:inset 6em 0 0 0 var(--back-color);
    }
 }

 #contact{
    min-height: 90vh;
    display: flex;
    justify-content:center; 
    margin-top: 3em;

    .form{
        height: 20em;

        input{
            width: 100%;
            height: 2.2em;
            border: none;
            border-bottom:2px solid var(--back-color) ;
            background-color: rgb(236, 236, 236);
        }

        textarea{
            width: 100%;
            background-color: var(--body-color);
            border: none;
            background-color: rgb(236, 236, 236);
        }

        ::placeholder{
            padding-left: 1em;
        }

        button{
            width: 100%;
            height: 2.2em; 
            background-color: var(--style-color);
            outline: none; 
            border: none;
            background-color: var(--style-color);
            transition:.5s linear;
            font-weight: 700;
            letter-spacing: .2em;

            a{
                color: var(--back-color); 
               
               
            }

          
           
        }
        button:hover{
          background-color:rgba(54, 54, 252, .8);
        }
    }
}

footer{
    height: 4em;
    box-shadow: 2px 2px 5px rgba(0,0,0, .2),
               -2px -2px 5px rgba(0,0,0, .2);

               
}
.scroll-up{
        position: fixed;
        right: 0;
        bottom: 1em;
        
       

        i{
            color: var(--style-color);
            font-size: 1.5em;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color:rgba(0, 0, 0, .2);
            text-align: center;
            padding: 8px;
            transition: .5s linear;
        }

        i:hover{
            color: var(--back-color);
           background-color: var(--style-color);
            
        }
    }
/** For special devices **/
 @media (width: 280px){
     .container{
         font-size: 11px;
     }
     .home-button{
         display: grid;
         grid-template-columns: 1fr;
         gap: 1em;
         place-items: left;

         .btn-two{
             margin-left: 0 !important;

         }

         .skills{
             grid-template-columns:1fr !important;
             box-shadow: none;
         }  
         
     }
     
 }
 i{
     color: white;
 }

 @media (width: 320px){
    .container{
        font-size: 11px;
    }
    .home-button{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
        place-items: left;

        .btn-two{
            margin-left: 0 !important;
        }

    }
}
/** For tabs devices **/
@media (min-width: 700px) {
  .custom-shape-divider-bottom-1615618722 svg {
    width: calc(110% + 1.3px);
    height: 76px;
  }
}
/** For laptops devices **/
@media (min-width: 1080px) {
  .custom-shape-divider-bottom-1615618722 svg {
    position: relative;
    display: block;
    width: calc(110% + 1.3px);
    height: 184px;
  }
}
